@charset "utf-8";
/* CSS Document */
body{
	background-color:lightblue;
	}
	
header{
	padding:0px 10px;
	margin:auto;
	width:90%;
	display:flex;
	flex-direction: row;
	background-color:deepskyblue;
	}

#LogoImagen{
	margin-left:-10px;
	}

#Menu{
	padding:40px 0px 0px 0px;
	margin-left:30px;
	}

#Menu li{
	display:inline;
	}

#Menu li a{
	padding:10px;
	background-color:blue;
	color:white;
	text-decoration:none;
	float:left;
	}
	
#Menu li a:hover{
	background-color:navy;
	margin-top:-2px;
	padding-bottom:12px;
	}

#CuerpoDocumento{
	padding:15px 10px;
	margin:auto;
	width:90%;
	height:350px;
	overflow:scroll;
	background-color:antiquewhite;
	}
	
footer{
	padding:15px 10px;
	margin:auto;
	width:90%;
	text-align:center;
	background-color:deepskyblue;
	}


